:root {
  --header-height: 70px;
  --color-global-bg: rgb(77, 48, 41);
}

.unselectable {
    user-select: none;
}

body {
    height: 100svh;
    overscroll-behavior-y: contain; /* Disable refresh behaviour */
    background-color: var(--color-global-bg) !important;
    background-image: url(../images/ft_bg.jpg);
    background-size: 4rem;
}

.scroll-container-v {
    height: calc(100svh - var(--header-height));
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section-v {
    height: calc(100svh - var(--header-height));
    /* If consider compatibility:
        google, safari:
        height: -webkit-calc(100svh - var(--header-height));
        firefox:
        height: -moz-calc(100% - 65px);
        opera:
        height: -o-calc(100% - 65px);
     */
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    position: relative;
}

.section-v.end {
    height: auto;
    scroll-snap-align: end;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-down-hint {
    position: absolute;
    bottom: 5px;
    color: #FFFFFF80;
    width: 100%;
    text-align: center;
    animation: bounce 0.8s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
}

header {
    height: var(--header-height);
    position: relative;
    background-color: var(--color-global-bg);
}
#header-ft-image {
    display: flex;
    height: 100%;
}
#header-ft-image > * {
    display: inline-block;
    height: 100%;
}
#header-ft-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
    top: 0; 
    color: rgba(85, 41, 22, 0.726);
    font-size: 25px;
}

footer {
    background-color: #e5e8ea; padding: 10px 0;
    font-size: smaller;
}

.carousel {
    height: 100%;
    background-color: rgba(66, 42, 35, 0.924);
}

