:root {
  --height-header: 70px;
  --height-scroll-hint: 40px;
  --color-global-bg: rgb(77, 48, 41);
  --color-text-bg: rgba(77, 48, 41, 0.808);
  --color-text: rgb(231, 211, 196);
}

.unselectable {
    user-select: none;
}

body {
    height: 100svh;
    overscroll-behavior-y: contain; /* Disable refresh behaviour */
    background-color: var(--color-global-bg) !important;
    background-image: url(../images/ft_bg.jpg);
    background-size: 4rem;
}

.scroll-container-v {
    height: calc(100svh - var(--height-header));
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section-v {
    height: calc(100svh - var(--height-header));
    /* If consider compatibility:
        google, safari:
        height: -webkit-calc(100svh - var(--height-header));
        firefox:
        height: -moz-calc(100% - 65px);
        opera:
        height: -o-calc(100% - 65px);
     */
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    position: relative;
}

.section-v.end {
    height: auto;
    scroll-snap-align: end;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-down-hint {
    position: absolute;
    width: 100%;
    height: var(--height-scroll-hint);
    bottom: 0px;
    text-align: center;
    text-decoration: none;
}
.scroll-down-hint>i {
    position: absolute;
    color: #FFFFFF80;
    animation: bounce 0.8s infinite;
}
@keyframes bounce {
  0%, 100% {
      opacity: 0.8;
    transform: translateY(15px);
    animation-timing-function: ease-out;
  }
  50% {
    opacity: 0.4;
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}

header {
    height: var(--height-header);
    position: relative;
    background-color: var(--color-global-bg);
}
#header-ft-image {
    display: flex;
    height: 100%;
}
#header-ft-image > * {
    display: inline-block;
    height: 100%;
}
#header-ft-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
    top: 0; 
    color: rgba(85, 41, 22, 0.726);
    font-size: 25px;
}

footer {
    background-color: #e5e8ea; 
    padding: 10px 0;
    font-size: smaller;
}

.carousel {
    height: 100%;
    background-color: rgba(66, 42, 35, 0.924);
}

.slide-page {
    height: 100%;
    display: block;
    position: relative;
}
.slide-image {
    height: 100%;
    display: flex;
    align-items: start;
}
.slide-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem 1rem var(--height-scroll-hint);
    color: var(--color-text);
    min-height: 200px;
    background-color: var(--color-text-bg);
}

/* PC */
@media only screen and (min-width: 768px)
{
.scroll-container-v {
    scrollbar-width: none;
}

.slide-page {
    display: flex;
    position: relative;
}
.slide-image {
    flex: auto;
    align-items: center;
    min-width: 40%;
    max-width: 50%;
}
.slide-text {
    flex: auto;
    position: relative;
    width: auto;
    min-height: none;
    padding-bottom: 1rem;
}
}