:root {
  --height-header: 70px;
  --height-scroll-hint: 40px;
  --color-global-bg: rgb(77, 48, 41);
  --color-text-bg: rgba(77, 48, 41, 0.808);
  --color-text: rgb(231, 211, 196);
  --color-text-dark: rgb(71, 58, 47);
  --color-text-muted: rgb(116, 102, 92);
}

.unselectable {
    user-select: none;
}

body {
    height: 100dvh;
    overscroll-behavior-y: contain; /* Disable refresh behaviour */
    background-color: var(--color-global-bg) !important;
    background-image: url(../images/ft_bg.jpg);
    background-size: 120px;
}

.scroll-container-v {
    height: calc(100dvh - var(--height-header));
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section-v {
    height: calc(100dvh - var(--height-header));
    /* If consider compatibility:
        google, safari:
        height: -webkit-calc(100dvh - var(--height-header));
        firefox:
        height: -moz-calc(100% - 65px);
        opera:
        height: -o-calc(100% - 65px);
     */
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    position: relative;
}

.section-v.end {
    height: auto;
    scroll-snap-align: end;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-down-hint {
    position: absolute;
    width: 100%;
    height: var(--height-scroll-hint);
    bottom: 0px;
    text-align: center;
    text-decoration: none;
}
.scroll-down-hint>i {
    position: absolute;
    color: #FFFFFF80;
    transform: translateX(-50%);
    animation: bounce 0.8s infinite;
}
@keyframes bounce {
    0%, 100% {
        opacity: 0.8;
        transform: translateY(15px);
        animation-timing-function: ease-out;
    }
    50% {
        opacity: 0.4;
        transform: translateY(0px);
        animation-timing-function: ease-in;
    }
}

header {
    height: var(--height-header);
    position: relative;
    background-color: var(--color-global-bg);
}
#header-ft-image {
    display: flex;
    height: 100%;
}
#header-ft-image img {
    display: inline-block;
    height: 100%;
}
#header-ft-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    height: 100%; 
    top: 0; 
    color: rgba(85, 41, 22, 0.726);
    font-size: 25px;
}

footer {
    background-color: #e5e8ea; 
    padding: 10px 0;
    font-size: smaller;
}

.slide {
    height: 100%;
    background-color: rgba(66, 42, 35, 0.924);
}
.slide .carousel-inner {height: 100%;}
.slide .carousel-item {height: 100%;}

.slide-page {
    height: 100%;
    display: block;
    position: relative;
}
.slide-image {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: start;
}
.slide-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem 1rem;
    color: var(--color-text);
    min-height: 100px;
    background-color: var(--color-text-bg);
}
.slide-text p.text-muted {
    color: var(--color-text-muted) !important;
}
.slide-text p {
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
    font-weight: 300;
}

#sec-top {
    height: 100%;
    width: 100%;
    position: relative;
}
#sec-top .abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
}
#sec-top #tiger {
    max-width: 100svw;
    transform: translate(-50%, -50%);
    animation: tiger-spin 4s linear infinite;
}
@keyframes tiger-spin {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
#sec-top #welcome-text1 {
    height: 14dvh;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sec-top #welcome-text2 {
    height: 18dvh;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sec-top #welcome-hint1 {
    font-size: larger;
    height: 0;
    color: var(--color-text-muted);
}
#sec-top #welcome-hint2 {
    top: 90%;
    left: 50%;
    font-size: larger;
    text-align: center;
    color: var(--color-text-muted);
    transform: translate(-50%, -100%);
}

.sun-container {
    position: absolute;
    top: 50%;
    left: 50%;
    position: relative;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    animation: rotateAll 30s linear infinite;
}
.ray {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 8px;
    background: #FFCC80;
    border-radius: 4px;
    transform-origin: center bottom;
    transform: rotate(var(--angle)) translateY(-120px); 
    animation: stretch var(--duration) ease-in-out infinite alternate;
}
@keyframes rotateAll {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes stretch {
    0% { 
        height: 70px;
    }
    100% { 
        height: var(--target-height);
    }
}

/* PC */
@media only screen and (min-width: 768px)
{
.scroll-container-v {
    scrollbar-width: none;
}

.slide-page {
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
}
.slide-image {
    flex: auto;
    align-items: center;
    padding: 0;
    min-width: 40%;
    max-width: 50%;
}
.slide-text {
    flex: auto;
    position: relative;
    width: auto;
    height: min-content;
    min-height: auto;
    padding-bottom: 1rem;
}
.slide-text p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}
.scroll-down-hint>i {
    font-size: x-large;
}
#sec-top #tiger {
    top: 50%;
}

#sec-top #welcome-text1 {
    height: 15svh;
    top: 30%;
    left: 30%;
}
#sec-top #welcome-text2 {
    height: 20svh;
    top: 70%;
    left: 70%;
}
}